{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

    <p>
        Soyez les bienvenus à cette expérience.
    </p>

    <p>
        Durant l’expérience, vous pourrez gagner de l’argent. Cet argent vous sera remis immédiatement à la fin de
        l’expérience après que vous nous ayez fourni votre numéro ID qui apparait   en bas de votre écran et qui sera
        affiché à nouveau à la fin de l’expérience.
    <p/>
    <p>
        Dans cette expérience, il vous sera demandé de prendre des décisions de manière individuelle.
    </p>
    <p>
        Merci de ne pas communiquer avec les autres participants durant l’expérience. Si vous avez la moindre question,
        merci de lever votre main, nous viendrons vous répondre de manière individuelle et privée.
    </p>
    <p>
        Votre identité ne sera pas révélée et toutes les décisions que vous allez prendre resteront confidentielles.


                                                                                             {% next_button %}

{% endblock %}
