{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Resultats
{% endblock %}

{% block content %}


    <p>
        Le premier numéro tiré aléatoirement est {{player.gamble_num}}. Par conséquent vous avez choisi la lotterie suivante:
    </p>

    <div class="form-group required">

        <table class='table table-bordered text-center' style='width: auto; margin: auto'>

            <tr>
                <th class="text-center">Pairs de lotterie</th>
                <th class="text-center">Lotterie A</th>
                <th class="text-center">Lotterie A</th>
                <th class="text-center">Mon choix est Lotterie A</th>
                <th class="text-center">Lotterie B</th>
                <th class="text-center">Lotterie B</th>
                <th class="text-center">Mon choix est Lotterie B</th>
            </tr>
            <tr>
                <td>
                  {{player.gamble_num}}
                </td>
                <td><strong>{{ Constants.risk_averse_payoff_1 }}</strong> <br/>({{str1}})</td>
                <td><strong>{{ Constants.risk_averse_payoff_2 }}</strong> <br/>({{str2}})</td>
                <td>
                  <input type="radio" name="" value="True" disabled {% if chosen_gamble_choice  %}checked{% endif %}>
                </td>
                <td><strong>{{ Constants.risk_takers_payoff_1 }}</strong> <br/>({{str1}})</td>
                <td><strong>{{ Constants.risk_takers_payoff_2 }}</strong> <br/>({{str2}})</td>
                <td>
                  <input type="radio" name="" value="False" disabled {% if not chosen_gamble_choice %}checked{% endif %}>
                </td>
            </tr>
            <tr>

         </table>

    </div>
    <p>
        Le second  numéro est le {{player.num_drawn}}. Dès lors vous recevrez le paiement associé
        <br>
        Ainsi votre paiement à cette expérience est {{player.payoff}}
    </p>

       {% next_button %}


 {% endblock %}